---
import "../styles/global.css";
const { link, text, buttonColor, textColor, size } = Astro.props;
var buttonSize = size === "big" ? "big" : "";
---

<a id="button" href={link} style={`color: ${textColor}; background-color: ${buttonColor};`} class={buttonSize}>{text}</a>

<style>
  a {
    font: var(--buttonText);
    text-transform: uppercase;
    text-decoration: none;
    padding: 9px 26px;
    border-radius: 50px;
    transition: 0.2s;
  }

  #button {
    line-height: 1;
  }
  a:hover {
    filter: brightness(1.25);
  }

  .big {
    font: var(--header3);
    text-transform: uppercase;
  }

  @media screen and (max-width: 900px) {
    a {
      font: var(--buttonTextMobil);
      padding: 9px 16px;
    }

    .big {
      font: var(--header3Mobil);
    }
  }
</style>
